

.appbar{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    background-color: #c6c6c6;
    color: black;
    span{ margin-left: 10px;}
    i{margin-left: 20px;}
    i:hover{ cursor:pointer;}
}

.sideon{
    margin-left: 20vw;
}
