/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@import "_appbar";
@import "_sidebar";

$background :#303030;

body{
  background-color: $background;
  color: white;
  overflow-x: hidden;
}


.hide{ display: none;}
